/* For Webkit-based browsers like Chrome, Safari */
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px; /* Set the scrollbar width */
  }

  &::-webkit-scrollbar-track {
    background: $slate; /* Track color */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey; /* Scrollbar thumb color */
    border-radius: 10px; /* Roundness of the scroll thumb */
  }

  /* For Firefox */
  scrollbar-width: thin; /* Set scrollbar width */
  scrollbar-color: $grey $slate; /* Thumb color, track color */
}

// common  bottom border css

.bottom-border {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($brown, 0.5);
  position: relative;
  margin-bottom: 30px;
//   z-index: -1;
  &::after {
    content: "";
    position: absolute;
    height: 5px;
    background: $brown;
    width: 30px;
    bottom: -2.5px;
    left: 0;
  }
  h6 {
    font-size: rem(22);
    color: $secondary-black;
    line-height: 23.3px;
  }
}

// horixontal border css
.horizontal-border {
  margin-block: 20px;
  border-bottom: 1px solid rgba($ligh-grey, 0.2);
}

// common popup design css

.popup-wrapper {
  padding: 20px;
  background: $white;
  border-radius: 0;

  .modal-header {
    justify-content: center;
    border-bottom: 0;
    position: relative;

    h1 {
      font-size: rem(20);
      color: $brown;
    }
    p {
      font-size: rem(16);
      color: $text-black;
    }
  }
  button {
    min-width: 180px;
    text-transform: uppercase;
  }
  .btn-close {
    position: absolute;
    right: 10px;
    top: 0;
    display: block !important;
    padding: 0;
    min-width: auto;
  }
  .green-heading{
   font-size: rem(40);
   color: $green;
  }
  .thankyou-text{
    font-size: rem(20);
    color: $brown;
  }
}
