table {
  width: 100%;
  border: 1px solid $charcoal-light;
  tr {
    th {
      background: rgba($medium-grey, 0.5);
      padding: 10px;
      border-right: 1px solid $charcoal-light;
      &:last-child,
      &:first-child {
        vertical-align: middle;
        text-align: center;
      }
      img {
        cursor: pointer;
      }
    }
    color: $secondary-black;
    td {
      padding: 10px;
      border: 1px solid $charcoal-light;
      color: $black;
      font-size: rem(14);
      &:last-child,
      &:first-child {
        vertical-align: middle;
        text-align: center;
      }
      img {
        cursor: pointer;
      }
    }
  }
}
