/* ------------------- */
/* Font family         */
/* ------------------- */

$ff-helvetica:"Helvetica", "Arial", sans-serif;;
$ff-roboto: "Roboto", sans-serif;

/* ------------------- */
/* Colors              */
/* ------------------- */
$black: #000000;
$white: #ffffff;
$slate: #f7f7f7;
$brown: #945547;
$light-brown:#e6cbc1;
$green: #008042;
$yellow: #e6cb00;
$grey: #a8a8a8;
$dark-grey: #6e6e6e;


/* ------------------- */
/* Font Path           */
/* ------------------- */
$fonts-path: "../../fonts" !default;

/* ------------------- */
/* Image Path          */
/* ------------------- */
$images-path: "../images" !default;

/* ------------------- */
/* Convert px to rem   */
/* ------------------- */
$base-rem: 16 !default;
