.search-site-wrapper {
  margin-block: 30px;
  .search-title {
    font-size: rem(30);
  }
  .search-results-list {
    .search-result-item {
      margin-block: 20px;
      .search-result-title {
        a {
          font-size: rem(25);
        }
      }
      .search-result-excerpt {
        font-size: rem(14);
      }
    }
  }
}
